:root {
  --header-color: #accbb1;
  --text-color: #faf3dd;
  --button-color: #8fc0a9;
  --button_hover: #c8d5b9;
  --box-shadow: 10px 5px 10px rgba(250, 243, 221, 0.5);
}

.img-fluid {
  width: 250px;
  height: auto;
  margin: auto;
  display: block;
}

body {
  font-family: "Raleway";
  background-color: #faf3dd !important;
}

.head {
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-bottom: 5px;
  text-align: center;
}

.sub-header,
.topic {
  color: var(--header-color);
}

.name {
  font-weight: bold;
  font-size: 50px;
}

p {
  font-size: 10px;
  margin-top: 10px;
  font-weight: bold;
}

button {
  font-size: 17px;
  font-weight: bold;
  padding: 10px;
  margin-top: 1px;
  background-color: var(--button-color);
  color: var(--text-color);
  border: 0.5px var(--text-color) solid;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

button:hover {
  background-color: var(--button_hover);
}

.contactbtn {
  margin-right: 5px;
}

@media (min-width: 390px) {

  h2,
  p,
  button {
    text-align: center;
  }
}